<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.0.3/milligram.min.css" />
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/knockout/dist/knockout.js"></script>
  <script type="text/javascript" src="/knockout-observable-dictionary/dist/ko.observableDictionary.min.js"></script>
  <script type="text/javascript">
    'use strict';
    class ViewModel {
      constructor() {
        this.services = new ko.observableDictionary();
      }
      addService(serviceKey, service) {
        let observableService = ko.observable(service);
        this.services.set(serviceKey, observableService);
      }
      removeService(serviceKey) {
        this.services.remove(serviceKey);
      }
      addSong(serviceKey, song) {
        let service = this.services.get(serviceKey);
        if (!service) {
          return;
        }

        service.song = song;
      }
      removeSong(serviceKey) {
        let service = this.services.get(serviceKey);
        if (!service) {
          return;
        }

        service.song = null;
      }
    };

    let viewModel = new ViewModel();
    ko.applyBindings(viewModel);

    let socket = io.connect();
    socket.on('message', (data) => {
      switch (data.type) {
        case 'serviceDiscovered':
          viewModel.addService(data.serviceKey, data.service);
          break;
        case 'serviceDisappeared':
          viewModel.removeService(data.serviceKey);
          break;
        case 'play':
          viewModel.addSong(data.serviceKey, data.song);
          break;
        case 'stop':
          viewModel.removeSong(data.serviceKey);
          break;
      }
    });
  </script>
</head>
<body class="container"
      style="margin-top: 10px;">
  <div class="row"
       data-bind="foreach: service">
    <div class="column">
      <div class="float-left">
        <img data-bind="src: deviceIcon" />
      </div>
      <span data-bind="text: friendlyName"
            style="font-weight: bold;"></span><br />
      <span data-bind="text: modelName"></span><br />
      <small>Discovered at {{formatTime this.discoveryTime}}</small>
    </div>
  </div>
</body>
</html>
